<div class="wrapper">
  <div class="products">
    <p><strong>Promoted products:</strong></p>
    <div *ngFor="let item of items">
      {{item.promoted ? item.name : ''}}
    </div>
    <p><strong>All products:</strong></p>
    <div *ngFor="let item of items">
      {{item.name}}
    </div>
  </div>
  <div *ngFor="let item of items">
    <div class="view">
      <div class="tile">Product: <em>{{ item.name }}</em>
        <img [src]="item.image">
        <p>{{ item.description }}</p>
      </div>
    </div>
  </div>
</div>
